BODY {
    background-color: rgb(192, 15, 177);
    font-family: arial;
    color: White;
}

P {
    font-size: 12pt;
    font-family: arial, helvetica;
    font-weight: normal;
}

H1 {
    font-size: 36pt;
    font-family: verdana, arial;
    text-decoration: underline;
    text-align: center;
    background-color: Teal;
}

TD {
    font-size: 10pt;
    font-family: verdana, arial;
    text-align: center;
    background-color: green;
}